
{% extends 'layout.html' %}
{% block body %}

<div style="margin: 25vh 25vw;">
    <h2>Add Subadmin or Coordinator</h2>
    <form action="/subadmin" method="post" >
        <div class="mb-3">
            <label for="role" class="form-label">Select Role:</label>
	<select class="form-select" id="category" name="role">
             <option value="subadmin">Subadmin</option>
                <option value="cor">Coordinator</option>
        </select>
        </div>
       
        <div class="mb-3">

            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" id="name" name="name" required>
        </div>

<div class="mb-3">

            <label class="form-label" for="id">ID:</label>
            <input class="form-control" type="text" id="name" name="id" required>
        </div>

<div class="mb-3">
<labelclass="form-label" for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" required>
</div>
        <button class="btn btn-primary" type="submit">Add Subadmin</button>
    </form>
</div>
    {% endblock body  %}
